.u-section-1 {
    padding-top: 50px;
}

.u-section-1 {
    min-height: 573px;
}

.u-palette-3-base,
.u-body.u-palette-3-base,
section.u-palette-3-base:before,
.u-palette-3-base>.u-container-layout:before,
.u-palette-3-base>.u-inner-container-layout:before,
.u-container-layout.u-container-layout.u-palette-3-base:before,
.u-table-alt-palette-3-base tr:nth-child(even) {
    color: #111111;
    background-color: #fceb21 !important;
}

.u-text-custom-color-3 .u-svg-link,
.u-text-hover-custom-color-3:hover .u-svg-link,
.u-button-style:hover>.u-text-hover-custom-color-3 .u-svg-link,
.u-button-style.u-button-style.active>.u-text-active-custom-color-3 .u-svg-link,
.u-text-hover-custom-color-3:focus .u-svg-link {
    fill: #0cbcf5 !important;
    opacity: 0.6;
}

.u-border-white,
.u-separator-white:after {
    border-color: #ffffff;
}

.u-border-8,
.u-separator-8:after,
.u-text.u-border-8,
a.u-button-style.u-border-8 {
    border-width: 8px;
}

.u-section-1 .u-shape-1 {
    height: 353px;
    background-image: none;
    margin-top: 0;
    margin-bottom: 0;
}

.u-section-1 .u-shape-2 {
    width: 245px;
    height: 244px;
    --animation-custom_in-scale: 1;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    margin: -74px auto 0 calc(((100% - 1140px) / 2) + -18px);
}

.u-section-1 .u-image-1 {
    width: 422px;
    height: 422px;
    background-image: url("images/279262119_10160232350983336_5591066326439159168_n.jpg");
    background-position: 50% 50%;
    margin: -444px auto 0 calc(((100% - 1140px) / 2) + 14px);
}

.u-section-1 .u-shape-3 {
    width: 191px;
    height: 45px;
    --animation-custom_in-translate_x: 300px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    margin: -168px auto 0 calc(((100% - 1140px) / 2) + 423px);
}

.u-section-1 .u-shape-4 {
    width: 109px;
    height: 109px;
    margin: -256px calc(((100% - 1140px) / 2) + 483px) 0 auto;
}

.u-section-1 .u-shape-5 {
    width: 109px;
    height: 109px;
    margin: -159px auto 0 calc(((100% - 1140px) / 2) + 486px);
}

.u-section-1 .u-shape-6 {
    width: 172px;
    height: 172px;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
    margin: 85px calc(((100% - 1140px) / 2) + 37px) 0 auto;
}

.u-section-1 .u-shape-7 {
    width: 102px;
    height: 102px;
    margin: -215px calc(((100% - 1140px) / 2) + 133px) 0 auto;
}

.u-section-1 .u-text-1 {
    font-family: NotoSansTC-Regular;
    text-shadow: 2px 2px 8px rgba(128, 128, 128, 1);
    margin: -154px calc(((100% - 1140px) / 2) + 141px) 60px calc(((100% - 1140px) / 2) + 614px);
}

.u-section-5 {
    min-height: 100px;
    margin-bottom: 10px;
}

.u-section-5 .u-sheet-1 {
    min-height: 300px;
}

.u-section-5 .u-image-1 {
    width: 357px;
    height: 357px;
    background-position: 50% 50%;
    --animation-custom_in-translate_x: -300px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    margin: 0 auto 0 -42px;
}

.u-section-5 .u-layout-wrap-1 {
    width: 978px;
    margin: .0px auto 30px 68px;
}

.u-section-5 .u-layout-cell-1 {
    min-height: 100px;
}

.u-section-5 .u-container-layout-1 {
    padding: 30px 40px 30px 30px;
}

.u-section-5 .u-text-1 {
    margin-top: 43px;
    margin-bottom: 0;
    font-weight: 700;
    background-image: none;
}

.u-section-5 .u-text-2 {
    font-family: NotoSansTC-Regular;
    font-style: normal;
    margin: 28px 0 0;
}

.u-section-5 .u-layout-cell-2 {
    min-height: 472px;
    background-image: none;
    --animation-custom_in-translate_x: 300px;
    --animation-custom_in-scale: 1;
    --animation-custom_in-translate_y: 0px;
}

.u-section-5 .u-container-layout-2 {
    padding: 30px 0;
}

@media (max-width: 1199px) {
    .u-section-1 .u-shape-1 {
        --animation-custom_in-translate_x: 0px;
        --animation-custom_in-translate_y: 300px;
        --animation-custom_in-opacity: 0;
        --animation-custom_in-rotate: 0deg;
        --animation-custom_in-scale: 1;
    }

    .u-section-1 .u-shape-2 {
        margin-top: 76px;
        margin-left: calc(((100% - 1140px) / 2) + 100px);
        --animation-custom_in-translate_y: 0px;
        --animation-custom_in-opacity: 0;
        --animation-custom_in-rotate: 0deg;
    }

    .u-section-1 .u-image-1 {
        margin-left: calc(((100% - 1140px) / 2) + 110px);
    }

    .u-section-1 .u-shape-3 {
        margin-right: calc(((100% - 1140px) / 2) + 441px);
        margin-left: auto;
        --animation-custom_in-translate_x: 0px;
    }

    .u-section-1 .u-shape-4 {
        --animation-custom_in-translate_x: 0px;
        --animation-custom_in-translate_y: 0px;
        --animation-custom_in-opacity: 0;
        --animation-custom_in-rotate: 0deg;
        --animation-custom_in-scale: 0.3;
        margin-right: calc(((100% - 940px) / 2) + 483px);
        margin-left: 507px;
    }

    .u-section-1 .u-shape-5 {
        margin-left: 424px;
    }

    .u-section-1 .u-shape-6 {
        margin-right: calc(((100% - 940px) / 2) + 37px);
    }

    .u-section-1 .u-shape-7 {
        margin-right: calc(((100% - 940px) / 2) + 133px);
        --animation-custom_in-translate_x: 0px;
        --animation-custom_in-translate_y: 0px;
        --animation-custom_in-opacity: 0;
        --animation-custom_in-rotate: 0deg;
        --animation-custom_in-scale: 0.3;
    }

    .u-section-1 .u-text-1 {
        margin-right: 313px;
        margin-left: calc(((100% - 940px) / 2) + 604px);
    }
}

@media (max-width: 991px) {
    .u-container-style.u-layout-cell.u-palette-4-light-1.u-right-cell.u-size-30.u-layout-cell-2.animated.customAnimationIn {
        display: none;
    }

    .u-section-5 .u-layout-wrap-1 {
        width: 100%;
        margin: 0;
    }

    .u-section-1 .u-shape-2 {
        margin-left: calc(((100% - 1140px) / 2) + 210px);
    }

    .u-section-1 .u-image-1 {
        margin-left: calc(((100% - 1140px) / 2) + 220px);
    }

    .u-section-1 .u-shape-3 {
        margin-right: calc(((100% - 1140px) / 2) + 331px);
    }

    .u-section-1 .u-shape-4 {
        margin-right: calc(((100% - 720px) / 2) + 483px);
        margin-left: 397px;
    }

    .u-section-1 .u-shape-5 {
        margin-left: 314px;
    }

    .u-section-1 .u-shape-6 {
        margin-right: calc(((100% - 720px) / 2) + 37px);
    }

    .u-section-1 .u-shape-7 {
        margin-right: calc(((100% - 720px) / 2) + 133px);
    }

    .u-section-1 .u-text-1 {
        margin-right: 240px;
        margin-left: calc(((100% - 720px) / 2) + 463px);
    }

    .u-align-center-xs {
        text-align: left;
    }

    .u-section-5 .u-container-layout-1 {
        padding: 0px;
    }

    .u-section-5 .u-sheet-1 {
        min-height: 22px;
    }
}

@media (max-width: 767px) {
    .u-section-1 .u-image-1 {
        background-position: 50% 50%;
        margin: -600px auto 0 calc(((100% - 400px) / 2) + 14px) !important;
    }

    .u-section-1 .u-shape-2 {
        margin-left: calc(((100% - 1140px) / 2) + 300px);
    }

    .u-section-1 .u-image-1 {
        margin-left: calc(((100% - 1140px) / 2) + 310px);
    }

    .u-section-1 .u-shape-3 {
        margin-right: calc(((100% - 1140px) / 2) + 300px);
    }

    .u-section-1 .u-shape-4 {
        margin-right: calc(((100% - 540px) / 2) + 431px);
        margin-left: auto;
    }

    .u-section-1 .u-shape-5 {
        margin-left: auto;
    }

    .u-section-1 .u-shape-6 {
        margin-right: calc(((100% - 540px) / 2) + 37px);
    }

    .u-section-1 .u-shape-7 {
        margin-right: calc(((100% - 540px) / 2) + 133px);
    }

    .u-section-1 .u-text-1 {
        margin-right: 180px;
        margin-left: calc(((100% - 540px) / 2) + 347px);
    }
}

@media (max-width: 575px) {
    .u-section-1 .u-image-1 {
        background-position: 50% 50%;
        margin: -600px auto 0 calc(((100% - 400px) / 2) + 14px) !important;
    }

    .u-section-1 .u-shape-1 {
        height: 153px !important;
    }

    .u-section-1 {
        min-height: 0px !important;
    }

    .u-shape-3 {
        display: none;
    }

    .u-shape-5 {
        display: none;
    }

    .u-shape-6 {
        display: none;
    }

    .u-section-1 .u-shape-1 {
        margin-top: 51px;
    }

    .u-section-1 .u-shape-2 {
        margin-top: 25px;
        margin-left: calc(((100% - 1140px) / 2) + 400px);
    }

    .u-section-1 .u-image-1 {
        width: 340px;
        height: 340px;
        margin-left: calc(((100% - 1140px) / 2) + 400px);
    }

    .u-section-1 .u-shape-3 {
        margin-top: -86px;
        margin-right: calc(((100% - 1140px) / 2) + 400px);
    }

    .u-section-1 .u-shape-4 {
        margin-top: -355px;
        margin-right: calc(((100% - 340px) / 2) + 231px);
    }

    .u-section-1 .u-shape-6 {
        margin-right: calc(((100% - 340px) / 2) + 37px);
    }

    .u-section-1 .u-shape-7 {
        margin-right: calc(((100% - 340px) / 2) + 133px);
    }

    .u-section-1 .u-text-1 {
        margin-right: 113px;
        margin-left: calc(((100% - 340px) / 2) + 218px);
    }
}

.u-section-1 {
    min-height: 573px;
}

.u-section-1 .u-shape-1 {
    height: 353px;
    background-image: none;
    margin-top: 0;
    margin-bottom: 0;
}

.u-section-1 .u-shape-2 {
    width: 245px;
    height: 244px;
    --animation-custom_in-scale: 1;
    margin: -74px auto 0 calc(((100% - 1140px) / 2) + -19px);
}

.u-section-1 .u-image-1 {
    width: 422px;
    height: 422px;
    background-position: 50% 50%;
    margin: -444px auto 0 calc(((100% - 1140px) / 2) + 14px);
}

.u-section-1 .u-shape-3 {
    width: 191px;
    height: 45px;
    margin: -168px auto 0 calc(((100% - 1140px) / 2) + 423px);
}

.u-section-1 .u-shape-4 {
    width: 109px;
    height: 109px;
    margin: -256px calc(((100% - 1140px) / 2) + 483px) 0 auto;
}

.u-section-1 .u-shape-5 {
    width: 109px;
    height: 109px;
    margin: -159px auto 0 calc(((100% - 1140px) / 2) + 486px);
}

.u-section-1 .u-shape-6 {
    width: 172px;
    height: 172px;
    margin: 85px calc(((100% - 1140px) / 2) + 37px) 0 auto;
}

.u-section-1 .u-shape-7 {
    width: 102px;
    height: 102px;
    margin: 0px calc(((100% - 1140px) / 2) + 133px) 0 auto;
}

.u-section-1 .u-text-1 {
    font-family: NotoSansTC-Regular;
    text-shadow: 2px 2px 8px rgba(128, 128, 128, 1);
    margin: -350px calc(((100% - 1140px) / 2) + 141px) 60px calc(((100% - 1140px) / 2) + 614px);
}

@media (max-width: 1199px) {
    .u-section-1 .u-shape-1 {
        --animation-custom_in-translate_x: 0px;
        --animation-custom_in-translate_y: 300px;
        --animation-custom_in-opacity: 0;
        --animation-custom_in-rotate: 0deg;
        --animation-custom_in-scale: 1;
    }

    .u-section-1 .u-shape-2 {
        margin-left: calc(((100% - 1140px) / 2) + 100px);
        --animation-custom_in-translate_x: 0px;
        --animation-custom_in-translate_y: 0px;
        --animation-custom_in-opacity: 0;
        --animation-custom_in-rotate: 0deg;
    }

    .u-section-1 .u-image-1 {
        margin-left: calc(((100% - 1140px) / 2) + 110px);
    }

    .u-section-1 .u-shape-3 {
        margin-right: calc(((100% - 1140px) / 2) + 441px);
        margin-left: auto;
        --animation-custom_in-translate_x: 0px;
        --animation-custom_in-translate_y: 0px;
        --animation-custom_in-opacity: 0;
        --animation-custom_in-rotate: 0deg;
        --animation-custom_in-scale: 1;
    }

    .u-section-1 .u-shape-4 {
        --animation-custom_in-translate_x: 0px;
        --animation-custom_in-translate_y: 0px;
        --animation-custom_in-opacity: 0;
        --animation-custom_in-rotate: 0deg;
        --animation-custom_in-scale: 0.3;
        margin-right: calc(((100% - 940px) / 2) + 483px);
        margin-left: 507px;
    }

    .u-section-1 .u-shape-5 {
        margin-left: 424px;
    }

    .u-section-1 .u-shape-6 {
        margin-right: calc(((100% - 940px) / 2) + 37px);
    }

    .u-section-1 .u-shape-7 {
        margin-right: calc(((100% - 940px) / 2) + 133px);
        --animation-custom_in-translate_x: 0px;
        --animation-custom_in-translate_y: 0px;
        --animation-custom_in-opacity: 0;
        --animation-custom_in-rotate: 0deg;
        --animation-custom_in-scale: 0.3;
    }

    .u-section-1 .u-text-1 {
        margin-right: 313px;
        margin-left: calc(((100% - 940px) / 2) + 604px);
    }
}

@media (max-width: 991px) {
    .u-section-1 .u-shape-2 {
        margin-left: calc(((100% - 1140px) / 2) + 210px);
    }

    .u-section-1 .u-image-1 {
        margin-left: calc(((100% - 1140px) / 2) + 220px);
    }

    .u-section-1 .u-shape-3 {
        margin-right: calc(((100% - 1140px) / 2) + 331px);
    }

    .u-section-1 .u-shape-4 {
        margin-right: calc(((100% - 720px) / 2) + 483px);
        margin-left: 397px;
    }

    .u-section-1 .u-shape-5 {
        margin-left: 314px;
    }

    .u-section-1 .u-shape-6 {
        margin-right: calc(((100% - 720px) / 2) + 37px);
    }

    .u-section-1 .u-shape-7 {
        margin-right: calc(((100% - 720px) / 2) + 133px);
    }

    .u-section-1 .u-text-1 {
        margin-right: 240px;
        margin-left: calc(((100% - 720px) / 2) + 463px);
    }
}

@media (max-width: 767px) {
    .u-section-1 .u-shape-2 {
        margin-left: calc(((100% - 1140px) / 2) + 300px);
    }

    .u-section-1 .u-image-1 {
        margin-left: calc(((100% - 1140px) / 2) + 310px);
    }

    .u-section-1 .u-shape-3 {
        margin-right: calc(((100% - 1140px) / 2) + 300px);
    }

    .u-section-1 .u-shape-4 {
        margin-right: calc(((100% - 540px) / 2) + 431px);
        margin-left: auto;
    }

    .u-section-1 .u-shape-5 {
        margin-left: auto;
    }

    .u-section-1 .u-shape-6 {
        margin-right: calc(((100% - 540px) / 2) + 37px);
    }

    .u-section-1 .u-shape-7 {
        margin-right: calc(((100% - 540px) / 2) + 133px);
    }

    .u-section-1 .u-text-1 {
        margin: 0;
    }

    .u-section-1 .u-shape-2 {
        display: none;
    }

    .u-section-1 .u-image-1 {
        display: none;
    }
}


@media (max-width: 575px) {
    .u-section-1 {
        min-height: 491px;
    }

    .u-section-1 .u-shape-1 {
        margin-top: 51px;
    }

    .u-section-1 .u-shape-2 {
        margin-top: 25px;
        margin-left: calc(((100% - 1140px) / 2) + 400px);
    }

    .u-section-1 .u-image-1 {
        width: 340px;
        height: 340px;
        margin-left: calc(((100% - 1140px) / 2) + 400px);
    }

    .u-section-1 .u-shape-3 {
        margin-top: -86px;
        margin-right: calc(((100% - 1140px) / 2) + 400px);
    }

    .u-section-1 .u-shape-4 {
        margin-top: -355px;
        margin-right: calc(((100% - 340px) / 2) + 231px);
    }

    .u-section-1 .u-shape-6 {
        margin-right: calc(((100% - 340px) / 2) + 37px);
    }

    .u-section-1 .u-shape-7 {
        margin-right: calc(((100% - 340px) / 2) + 133px);
    }

    .u-section-1 .u-text-1 {
        margin-right: 113px;
        margin-left: calc(((100% - 340px) / 2) + 218px);
    }
}

.u-section-2 {
    background-image: none;
}

.u-section-2 .u-text-1 {
    width: 726px;
    font-family: NotoSansTC-Regular;
    margin: 30px auto 0;
}

.u-section-2 .u-list-1 {
    grid-template-rows: auto auto;
    margin-top: 25px;
    margin-bottom: 60px;
}

.u-section-2 .u-repeater-1 {
    grid-template-columns: 33.3333% 33.3333% 33.3333%;
    grid-gap: 0px 0px;
    min-height: 742px;
}

.u-section-2 .u-container-layout-1 {
    padding: 0 30px;
}

.u-section-2 .u-image-1 {
    width: 320px;
    height: 354px;
    transition-duration: 0.5s;
    box-shadow: 2px 0 0 0 rgba(0, 0, 0, 0);
    transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
    margin: 30px auto 0 0;
}

.u-section-2 .u-group-1 {
    width: 303px;
    min-height: 418px;
    transition-duration: 0.5s;
    box-shadow: 2px 0 0 0 rgba(0, 0, 0, 0);
    height: auto;
    margin: -60px auto 0;
}

.u-section-2 .u-container-layout-2 {
    padding: 40px 20px 20px;
}

.u-section-2 .u-text-2 {
    text-transform: uppercase;
    font-family: NotoSansTC-Regular;
    font-weight: 700;
    margin: 0 41px 0 22px;
}

.u-section-2 .u-text-3 {
    font-weight: 700;
    font-family: NotoSansTC-Regular;
    margin: 18px 1px 0;
}

.u-section-2 .u-text-4 {
    font-style: normal;
    font-weight: 700;
    font-family: NotoSansTC-Regular;
    margin: 7px 1px 0 22px;
}

.u-section-2 .u-text-5 {
    font-weight: 700;
    font-family: NotoSansTC-Regular;
    margin: 4px 1px 0 22px;
}

.u-section-2 .u-line-1 {
    width: 261px;
    transform-origin: left center 0px;
    margin: 10px auto 0;
}

.u-section-2 .u-text-6 {
    font-weight: 700;
    font-family: NotoSansTC-Regular;
    margin: 6px 1px 0;
}

.u-section-2 .u-text-7 {
    font-family: NotoSansTC-Regular;
    margin: 6px 1px 0 22px;
}

.u-section-2 .u-container-layout-3 {
    padding: 0 30px;
}

.u-section-2 .u-image-2 {
    width: 320px;
    height: 354px;
    transition-duration: 0.5s;
    box-shadow: 2px 0 0 0 rgba(0, 0, 0, 0);
    transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
    margin: 30px auto 0 0;
}

.u-section-2 .u-group-2 {
    width: 303px;
    min-height: 418px;
    transition-duration: 0.5s;
    box-shadow: 2px 0 0 0 rgba(0, 0, 0, 0);
    height: auto;
    margin: -60px auto 0;
}

.u-section-2 .u-container-layout-4 {
    padding: 40px 20px 20px;
}

.u-section-2 .u-text-8 {
    text-transform: uppercase;
    font-family: NotoSansTC-Regular;
    font-weight: 700;
    margin: 0 41px 0 22px;
}

.u-section-2 .u-text-9 {
    font-weight: 700;
    font-family: NotoSansTC-Regular;
    margin: 18px 1px 0;
}

.u-section-2 .u-text-10 {
    font-style: normal;
    font-weight: 700;
    font-family: NotoSansTC-Regular;
    margin: 7px 1px 0 22px;
}

.u-section-2 .u-text-11 {
    font-weight: 700;
    font-family: NotoSansTC-Regular;
    margin: 4px 1px 0 22px;
}

.u-section-2 .u-line-2 {
    width: 243px;
    margin: 10px auto 0;
}

.u-section-2 .u-text-12 {
    font-weight: 700;
    font-family: NotoSansTC-Regular;
    margin: 6px 1px 0;
}

.u-section-2 .u-text-13 {
    font-family: NotoSansTC-Regular;
    margin: 6px 1px 0 22px;
}

.u-section-2 .u-container-layout-5 {
    padding: 0 30px;
}

.u-section-2 .u-image-3 {
    width: 320px;
    height: 354px;
    transition-duration: 0.5s;
    box-shadow: 2px 0 0 0 rgba(0, 0, 0, 0);
    transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
    margin: 30px auto 0 0;
}

.u-section-2 .u-group-3 {
    width: 303px;
    min-height: 418px;
    transition-duration: 0.5s;
    box-shadow: 2px 0 0 0 rgba(0, 0, 0, 0);
    height: auto;
    margin: -60px auto 0;
}

.u-section-2 .u-container-layout-6 {
    padding: 40px 20px 20px;
}

.u-section-2 .u-text-14 {
    text-transform: uppercase;
    font-family: NotoSansTC-Regular;
    font-weight: 700;
    margin: 0 41px 0 22px;
}

.u-section-2 .u-text-15 {
    font-weight: 700;
    font-family: NotoSansTC-Regular;
    margin: 18px 1px 0;
}

.u-section-2 .u-text-16 {
    font-style: normal;
    font-weight: 700;
    font-family: NotoSansTC-Regular;
    margin: 7px 1px 0 22px;
}

.u-section-2 .u-text-17 {
    font-weight: 700;
    font-family: NotoSansTC-Regular;
    margin: 4px 1px 0 22px;
}

.u-section-2 .u-line-3 {
    width: 243px;
    margin: 10px auto 0;
}

.u-section-2 .u-text-18 {
    font-weight: 700;
    font-family: NotoSansTC-Regular;
    margin: 6px 1px 0;
}

.u-section-2 .u-text-19 {
    font-family: NotoSansTC-Regular;
    margin: 6px 1px 0 22px;
}

@media (max-width: 1199px) {
    .u-section-2 .u-list-1 {
        height: auto;
    }

    .u-section-2 .u-repeater-1 {
        min-height: 582px;
        grid-template-columns: repeat(3, 33.333333333333336%);
    }

    .u-section-2 .u-container-layout-1 {
        padding-left: 20px;
        padding-right: 20px;
    }

    .u-section-2 .u-image-1 {
        margin-right: initial;
        margin-left: initial;
        width: auto;
    }

    .u-section-2 .u-group-1 {
        width: 233px;
        margin-top: -28px;
        height: auto;
    }

    .u-section-2 .u-text-3 {
        margin-top: 68px;
    }

    .u-section-2 .u-text-4 {
        margin-top: 0px;
        margin-right: 26px;
        margin-left: -24px;
    }

    .u-section-2 .u-line-1 {
        height: 0;
        margin-left: -25px;
        margin-right: -25px;
    }

    .u-section-2 .u-container-layout-3 {
        padding-left: 20px;
        padding-right: 20px;
    }

    .u-section-2 .u-image-2 {
        margin-right: initial;
        margin-left: initial;
        width: auto;
    }

    .u-section-2 .u-group-2 {
        width: 233px;
        margin-top: -28px;
        height: auto;
    }

    .u-section-2 .u-line-2 {
        height: 0;
    }

    .u-section-2 .u-container-layout-5 {
        padding-left: 20px;
        padding-right: 20px;
    }

    .u-section-2 .u-image-3 {
        margin-right: initial;
        margin-left: initial;
        width: auto;
    }

    .u-section-2 .u-group-3 {
        width: 233px;
        margin-top: -28px;
        height: auto;
    }

    .u-section-2 .u-line-3 {
        height: 0;
    }
}

@media (max-width: 991px) {
    .u-section-2 .u-text-1 {
        width: 720px;
    }

    .u-section-2 .u-repeater-1 {
        grid-template-columns: repeat(2, 50%);
    }

    .u-section-2 .u-group-1 {
        width: 263px;
    }

    .u-section-2 .u-container-layout-2 {
        padding-top: 30px;
    }

    .u-section-2 .u-text-3 {
        margin-top: 43px;
    }

    .u-section-2 .u-text-4 {
        margin-top: 0px;
        margin-right: 11px;
        margin-left: -9px;
    }

    .u-section-2 .u-line-1 {
        margin-left: -10px;
        margin-right: -10px;
    }

    .u-section-2 .u-group-2 {
        width: 263px;
    }

    .u-section-2 .u-container-layout-4 {
        padding-top: 30px;
    }

    .u-section-2 .u-group-3 {
        width: 263px;
    }

    .u-section-2 .u-container-layout-6 {
        padding-top: 30px;
    }
}

@media (max-width: 767px) {
    .u-section-2 .u-text-1 {
        width: 540px;
        margin-top: 60px;
        margin-left: 0;
        margin-right: 0;
    }

    .u-section-2 .u-repeater-1 {
        grid-template-columns: 100%;
    }

    .u-section-2 .u-container-layout-1 {
        padding-left: 10px;
        padding-right: 10px;
    }

    .u-section-2 .u-image-1 {
        height: 575px;
        width: auto;
        margin-right: initial;
        margin-left: initial;
    }

    .u-section-2 .u-group-1 {
        width: 430px;
        margin-top: -131px;
    }

    .u-section-2 .u-text-4 {
        margin-left: 22px;
        margin-right: 1px;
    }

    .u-section-2 .u-line-1 {
        margin-left: auto;
        margin-right: auto;
    }

    .u-section-2 .u-container-layout-3 {
        padding-left: 10px;
        padding-right: 10px;
    }

    .u-section-2 .u-image-2 {
        height: 575px;
        width: auto;
        margin-right: initial;
        margin-left: initial;
    }

    .u-section-2 .u-group-2 {
        width: 430px;
        margin-top: -131px;
    }

    .u-section-2 .u-container-layout-5 {
        padding-left: 10px;
        padding-right: 10px;
    }

    .u-section-2 .u-image-3 {
        height: 575px;
        width: auto;
        margin-right: initial;
        margin-left: initial;
    }

    .u-section-2 .u-group-3 {
        width: 430px;
        margin-top: -131px;
    }
}

@media (max-width: 575px) {
    .u-section-2 .u-text-1 {
        width: 340px;
        margin-top: 25px;
    }

    .u-section-2 .u-container-layout-1 {
        padding-left: 0;
        padding-right: 0;
    }

    .u-section-2 .u-image-1 {
        height: 354px;
        width: auto;
        margin-right: initial;
        margin-left: initial;
    }

    .u-section-2 .u-group-1 {
        width: 303px;
        margin-top: -76px;
    }

    .u-section-2 .u-container-layout-3 {
        padding-left: 0;
        padding-right: 0;
    }

    .u-section-2 .u-image-2 {
        height: 354px;
        width: auto;
        margin-right: initial;
        margin-left: initial;
    }

    .u-section-2 .u-group-2 {
        width: 303px;
        margin-top: -76px;
    }

    .u-section-2 .u-container-layout-5 {
        padding-left: 0;
        padding-right: 0;
    }

    .u-section-2 .u-image-3 {
        height: 354px;
        width: auto;
        margin-right: initial;
        margin-left: initial;
    }

    .u-section-2 .u-group-3 {
        width: 303px;
        margin-top: -76px;
    }
}

.u-section-2 .u-image-1,
.u-section-2 .u-image-1:before,
.u-section-2 .u-image-1>.u-container-layout:before {
    transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-2 .u-image-1 {
    border-color: transparent !important;
}

.u-section-2 .u-image-1.u-image-1.u-image-1:hover {
    border-color: #404040 !important;
    border-radius: 10px !important;
}

.u-section-2 .u-image-1 {
    border-color: transparent !important;
}

.u-section-2 .u-image-1.u-image-1.u-image-1.hover {
    border-color: #404040 !important;
    border-radius: 10px !important;
}

.u-section-2 .u-container-layout:hover .u-image-1 {
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
    box-shadow: 2px 2px 8px 0 rgba(128, 128, 128, 1) !important;
}

.u-container-layout.hover .u-section-2 .u-image-1 {
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
    box-shadow: 2px 2px 8px 0 rgba(128, 128, 128, 1) !important;
}

.u-section-2 .u-image-2,
.u-section-2 .u-image-2:before,
.u-section-2 .u-image-2>.u-container-layout:before {
    transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-2 .u-image-2 {
    border-color: transparent !important;
}

.u-section-2 .u-image-2.u-image-2.u-image-2:hover {
    border-color: #404040 !important;
    border-radius: 10px !important;
}

.u-section-2 .u-image-2 {
    border-color: transparent !important;
}

.u-section-2 .u-image-2.u-image-2.u-image-2.hover {
    border-color: #404040 !important;
    border-radius: 10px !important;
}

.u-section-2 .u-container-layout:hover .u-image-2 {
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
    box-shadow: 2px 2px 8px 0 rgba(128, 128, 128, 1) !important;
}

.u-container-layout.hover .u-section-2 .u-image-2 {
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
    box-shadow: 2px 2px 8px 0 rgba(128, 128, 128, 1) !important;
}

.u-section-2 .u-image-3,
.u-section-2 .u-image-3:before,
.u-section-2 .u-image-3>.u-container-layout:before {
    transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-2 .u-image-3 {
    border-color: transparent !important;
}

.u-section-2 .u-image-3.u-image-3.u-image-3:hover {
    border-color: #404040 !important;
    border-radius: 10px !important;
}

.u-section-2 .u-image-3 {
    border-color: transparent !important;
}

.u-section-2 .u-image-3.u-image-3.u-image-3.hover {
    border-color: #404040 !important;
    border-radius: 10px !important;
}

.u-section-2 .u-container-layout:hover .u-image-3 {
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
    box-shadow: 2px 2px 8px 0 rgba(128, 128, 128, 1) !important;
}

.u-container-layout.hover .u-section-2 .u-image-3 {
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
    box-shadow: 2px 2px 8px 0 rgba(128, 128, 128, 1) !important;
}

.u-section-2 .u-group-1,
.u-section-2 .u-group-1:before,
.u-section-2 .u-group-1>.u-container-layout:before {
    transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-2 .u-group-1.u-group-1.u-group-1:hover {
    box-shadow: 2px 2px 8px 0 rgba(128, 128, 128, 1) !important;
}

.u-section-2 .u-group-1.u-group-1.u-group-1:hover>.u-container-layout:before {
    background-color: #0cbcf5 !important;
}

.u-section-2 .u-group-1.u-group-1.u-group-1.hover {
    box-shadow: 2px 2px 8px 0 rgba(128, 128, 128, 1) !important;
}

.u-section-2 .u-group-2,
.u-section-2 .u-group-2:before,
.u-section-2 .u-group-2>.u-container-layout:before {
    transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-2 .u-group-2.u-group-2.u-group-2:hover {
    box-shadow: 2px 2px 8px 0 rgba(128, 128, 128, 1) !important;
}

.u-section-2 .u-group-2.u-group-2.u-group-2:hover>.u-container-layout:before {
    background-color: #0cbcf5 !important;
}

.u-section-2 .u-group-2.u-group-2.u-group-2.hover {
    box-shadow: 2px 2px 8px 0 rgba(128, 128, 128, 1) !important;
}

.u-section-2 .u-group-3,
.u-section-2 .u-group-3:before,
.u-section-2 .u-group-3>.u-container-layout:before {
    transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-2 .u-group-3.u-group-3.u-group-3:hover {
    box-shadow: 2px 2px 8px 0 rgba(128, 128, 128, 1) !important;
}

.u-section-2 .u-group-3.u-group-3.u-group-3:hover>.u-container-layout:before {
    background-color: #0cbcf5 !important;
}

.u-section-2 .u-group-3.u-group-3.u-group-3.hover {
    box-shadow: 2px 2px 8px 0 rgba(128, 128, 128, 1) !important;
}

.u-block-0d6a-2 {
    position: absolute;
    bottom: 10px;
    width: auto;
    height: auto;
}

.u-block-0d6a-3 {
    position: absolute;
    left: calc(((100% - 1140px) / 2) + -21px);
    width: 45px;
    height: 45px;
    right: auto;
}

.u-block-0d6a-4 {
    position: absolute;
    width: 45px;
    height: 45px;
    left: auto;
    right: calc(((100% - 1140px) / 2) + -21px);
}

@media (max-width: 1199px) {
    .u-block-0d6a-3 {
        left: calc(((100% - 940px) / 2) + -17px);
    }

    .u-block-0d6a-4 {
        right: calc(((100% - 940px) / 2) + -17px);
    }
}

@media (max-width: 991px) {
    .u-block-0d6a-3 {
        left: calc(((100% - 720px) / 2) + -13px);
    }

    .u-block-0d6a-4 {
        right: calc(((100% - 720px) / 2) + -13px);
    }
}

@media (max-width: 767px) {
    .u-block-0d6a-3 {
        left: calc(((100% - 540px) / 2) + -10px);
    }

    .u-block-0d6a-4 {
        right: calc(((100% - 540px) / 2) + -10px);
    }
}

@media (max-width: 575px) {
    .u-block-0d6a-3 {
        left: calc(((100% - 340px) / 2) + -6px);
    }

    .u-block-0d6a-4 {
        right: calc(((100% - 340px) / 2) + -6px);
    }
}

.u-section-3-1 {
    min-height: 607px;
}

.u-section-3-1 .u-group-1 {
    width: calc(((100% - 1140px) / 2) + 428px);
    min-height: 490px;
    margin: 0 0 0 auto;
}

.u-section-3-1 .u-container-layout-1 {
    padding: 30px;
    background: #72efe9;
}

.u-section-3-1 .u-layout-wrap-1 {
    width: 1046px;
    margin: -439px auto 51px calc(((100% - 1140px) / 2));
}

.u-section-3-1 .u-layout-cell-1 {
    min-height: 505px;
    background-image: none;
}

.u-section-3-1 .u-container-layout-2 {
    padding: 30px 40px 30px 30px;
}

.u-section-3-1 .u-text-1 {
    font-size: 2.5rem;
    line-height: 1;
    font-weight: 300;
    font-family: NotoSansTC-Regular;
    margin: 52px 0 0;
}

.u-section-3-1 .u-text-2 {
    font-size: 1.125rem;
    letter-spacing: 0px;
    font-weight: 700;
    margin: 17px 0 0;
}

.u-section-3-1 .u-image-1 {
    min-height: 505px;
    background-image: url("images/5.JPG");
    background-position: 50% 50%;
}

.u-section-3-1 .u-container-layout-3 {
    padding: 30px;
}

@media (max-width: 1199px) {
    .u-section-3-1 {
        min-height: 586px;
    }

    .u-section-3-1 .u-group-1 {
        width: calc(((100% - 940px) / 2) + 428px);
        min-height: 420px;
    }

    .u-section-3-1 .u-layout-wrap-1 {
        width: 885px;
        margin-top: -360px;
        margin-left: calc(((100% - 940px) / 2));
    }

    .u-section-3-1 .u-layout-cell-1 {
        min-height: 466px;
    }

    .u-section-3-1 .u-text-1 {
        font-size: 2.2rem;
    }

    .u-section-3-1 .u-image-1 {
        min-height: 466px;
    }
}

@media (max-width: 991px) {
    .u-section-3-1 {
        min-height: 549px;
    }

    .u-section-3-1 .u-group-1 {
        width: 348px;
        min-height: 411px;
    }

    .u-section-3-1 .u-layout-wrap-1 {
        width: 684px;
        margin-top: -351px;
        margin-left: calc(((100% - 720px) / 2));
    }

    .u-section-3-1 .u-layout-cell-1 {
        min-height: 429px;
    }

    .u-section-3-1 .u-container-layout-2 {
        padding-right: 30px;
    }

    .u-section-3-1 .u-text-1 {
        font-size: 1.5rem;
    }

    .u-section-3-1 .u-text-2 {
        font-size: 1rem;
    }

    .u-section-3-1 .u-image-1 {
        min-height: 429px;
    }
}

@media (max-width: 767px) {
    .u-section-3-1 {
        min-height: 872px;
    }

    .u-section-3-1 .u-group-1 {
        width: 446px;
        min-height: 495px;
    }

    .u-section-3-1 .u-container-layout-1 {
        padding-left: 10px;
        padding-right: 10px;
    }

    .u-section-3-1 .u-layout-wrap-1 {
        width: 500px;
        margin-top: -435px;
        margin-left: calc(((100% - 540px) / 2));
    }

    .u-section-3-1 .u-layout-cell-1 {
        min-height: 100px;
        order: 1;
    }

    .u-section-3-1 .u-container-layout-2 {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .u-section-3-1 .u-text-1 {
        font-size: 1.2rem;
    }

    .u-section-3-1 .u-image-1 {
        min-height: 538px;
        order: 0;
    }

    .u-section-3-1 .u-container-layout-3 {
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media (max-width: 575px) {
    .u-section-3-1 {
        min-height: 500px;
    }

    .u-section-3-1 .u-group-1 {
        width: calc(((100% - 340px) / 2) + 290px);
        min-height: 250px;
    }

    .u-section-3-1 .u-layout-wrap-1 {
        width: 313px;
        margin-top: -230px;
        margin-left: calc(((100% - 340px) / 2));
    }

    .u-section-3-1 .u-layout-cell-1 {
        min-height: 120px;
    }

    .u-section-3-1 .u-container-layout-2 {
        padding: 30px 10px;
    }

    .u-section-3-1 .u-image-1 {
        min-height: 300px;
    }
}

.u-section-3-2 {
    min-height: 607px;
}

.u-section-3-2 .u-group-1 {
    width: calc(((100% - 1140px) / 2) + 428px);
    min-height: 490px;
    margin: 0 0 0 auto;
}

.u-section-3-2 .u-container-layout-1 {
    padding: 30px;
    background: #72efe9;
}

.u-section-3-2 .u-layout-wrap-1 {
    width: 1046px;
    margin: -439px auto 51px calc(((100% - 1140px) / 2));
}

.u-section-3-2 .u-layout-cell-1 {
    min-height: 505px;
    background-image: none;
}

.u-section-3-2 .u-container-layout-2 {
    padding: 30px 40px 30px 30px;
}

.u-section-3-2 .u-text-1 {
    font-size: 2.5rem;
    line-height: 1;
    font-weight: 300;
    font-family: NotoSansTC-Regular;
    margin: 52px 0 0;
}

.u-section-3-2 .u-text-2 {
    font-size: 1.125rem;
    letter-spacing: 0px;
    font-weight: 700;
    font-family: NotoSansTC-Regular;
    margin: 17px 0 0;
}

.u-section-3-2 .u-image-1 {
    min-height: 505px;
    background-image: url("images/5.JPG");
    background-position: 50% 50%;
}

.u-section-3-2 .u-container-layout-3 {
    padding: 30px;
}

@media (max-width: 1199px) {
    .u-section-3-2 {
        min-height: 586px;
    }

    .u-section-3-2 .u-group-1 {
        width: calc(((100% - 940px) / 2) + 428px);
        min-height: 420px;
    }

    .u-section-3-2 .u-layout-wrap-1 {
        width: 885px;
        margin-top: -360px;
        margin-left: calc(((100% - 940px) / 2));
    }

    .u-section-3-2 .u-layout-cell-1 {
        min-height: 466px;
    }

    .u-section-3-2 .u-text-1 {
        font-size: 2.2rem;
    }

    .u-section-3-2 .u-image-1 {
        min-height: 466px;
    }
}

@media (max-width: 991px) {
    .u-section-3-2 {
        min-height: 549px;
    }

    .u-section-3-2 .u-group-1 {
        width: 348px;
        min-height: 411px;
    }

    .u-section-3-2 .u-layout-wrap-1 {
        width: 684px;
        margin-top: -351px;
        margin-left: calc(((100% - 720px) / 2));
    }

    .u-section-3-2 .u-layout-cell-1 {
        min-height: 429px;
    }

    .u-section-3-2 .u-container-layout-2 {
        padding-right: 30px;
    }

    .u-section-3-2 .u-text-1 {
        font-size: 1.5rem;
    }

    .u-section-3-2 .u-text-2 {
        font-size: 1rem;
    }

    .u-section-3-2 .u-image-1 {
        min-height: 429px;
    }
}

@media (max-width: 767px) {
    .u-section-3-2 {
        min-height: 872px;
    }

    .u-section-3-2 .u-group-1 {
        width: 446px;
        min-height: 495px;
    }

    .u-section-3-2 .u-container-layout-1 {
        padding-left: 10px;
        padding-right: 10px;
    }

    .u-section-3-2 .u-layout-wrap-1 {
        width: 500px;
        margin-top: -435px;
        margin-left: calc(((100% - 540px) / 2));
    }

    .u-section-3-2 .u-layout-cell-1 {
        min-height: 100px;
        order: 1;
    }

    .u-section-3-2 .u-container-layout-2 {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .u-section-3-2 .u-text-1 {
        font-size: 1.2rem;
    }

    .u-section-3-2 .u-image-1 {
        min-height: 538px;
        order: 0;
    }

    .u-section-3-2 .u-container-layout-3 {
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media (max-width: 575px) {
    .u-section-3-2 {
        min-height: 500px;
    }

    .u-section-3-2 .u-group-1 {
        width: calc(((100% - 340px) / 2) + 290px);
        min-height: 250px;
    }

    .u-section-3-2 .u-layout-wrap-1 {
        width: 313px;
        margin-top: -230px;
        margin-left: calc(((100% - 340px) / 2));
    }

    .u-section-3-2 .u-layout-cell-1 {
        min-height: 120px;
    }

    .u-section-3-2 .u-container-layout-2 {
        padding: 30px 10px;
    }

    .u-section-3-2 .u-image-1 {
        min-height: 300px;
    }
}

.u-section-3-3 {
    min-height: 607px;
}

.u-section-3-3 .u-group-1 {
    width: calc(((100% - 1140px) / 2) + 428px);
    min-height: 490px;
    margin: 0 0 0 auto;
}

.u-section-3-3 .u-container-layout-1 {
    padding: 30px;
    background: #72efe9;
}

.u-section-3-3 .u-layout-wrap-1 {
    width: 1046px;
    margin: -439px auto 51px calc(((100% - 1140px) / 2));
}

.u-section-3-3 .u-layout-cell-1 {
    min-height: 505px;
    background-image: none;
}

.u-section-3-3 .u-container-layout-2 {
    padding: 30px 40px 30px 30px;
}

.u-section-3-3 .u-text-1 {
    font-size: 2.5rem;
    line-height: 1;
    font-weight: 300;
    font-family: NotoSansTC-Regular;
    margin: 52px 0 0;
}

.u-section-3-3 .u-text-2 {
    font-size: 1.125rem;
    letter-spacing: 0px;
    font-weight: 700;
    font-family: NotoSansTC-Regular;
    margin: 17px 0 0;
}

.u-section-3-3 .u-image-1 {
    min-height: 505px;
    background-image: url("images/5.JPG");
    background-position: 50% 50%;
}

.u-section-3-3 .u-container-layout-3 {
    padding: 30px;
}

.u-section-3-4 {
    min-height: 607px;
}

.u-section-3-4 .u-group-1 {
    width: calc(((100% - 1140px) / 2) + 428px);
    min-height: 490px;
    margin: 0 0 0 auto;
}

.u-section-3-4 .u-container-layout-1 {
    padding: 30px;
    background: #72efe9;
}

.u-section-3-4 .u-layout-wrap-1 {
    width: 1046px;
    margin: -439px auto 51px calc(((100% - 1140px) / 2));
}

.u-section-3-4 .u-layout-cell-1 {
    min-height: 505px;
    background-image: none;
}

.u-section-3-4 .u-container-layout-2 {
    padding: 30px 40px 30px 30px;
}

.u-section-3-4 .u-text-1 {
    font-size: 2.5rem;
    line-height: 1;
    font-weight: 300;
    font-family: NotoSansTC-Regular;
    margin: 52px 0 0;
}

.u-section-3-4 .u-text-2 {
    font-size: 1.125rem;
    letter-spacing: 0px;
    font-weight: 700;
    font-family: NotoSansTC-Regular;
    /* font-style: italic; */
    margin: 17px 0 0;
}

.u-section-3-4 .u-image-1 {
    min-height: 505px;
    background-image: url("images/5.JPG");
    background-position: 50% 50%;
}

.u-section-3-4 .u-container-layout-3 {
    padding: 30px;
}

.u-section-3-5 {
    min-height: 607px;
}

.u-section-3-5 .u-group-1 {
    width: calc(((100% - 1140px) / 2) + 428px);
    min-height: 490px;
    margin: 0 0 0 auto;
}

.u-section-3-5 .u-container-layout-1 {
    padding: 30px;
    background: #72efe9;
}

.u-section-3-5 .u-layout-wrap-1 {
    width: 1046px;
    margin: -439px auto 51px calc(((100% - 1140px) / 2));
}

.u-section-3-5 .u-layout-cell-1 {
    min-height: 505px;
    background-image: none;
}

.u-section-3-5 .u-container-layout-2 {
    padding: 30px 40px 30px 30px;
}

.u-section-3-5 .u-text-1 {
    font-size: 2.5rem;
    line-height: 1;
    font-weight: 300;
    font-family: NotoSansTC-Regular;
    margin: 52px 0 0;
}

.u-section-3-5 .u-text-2 {
    font-size: 1.125rem;
    letter-spacing: 0px;
    font-weight: 700;
    font-family: NotoSansTC-Regular;
    /* font-style: italic; */
    margin: 17px 0 0;
}

.u-section-3-5 .u-image-1 {
    min-height: 505px;
    background-image: url("images/5.JPG");
    background-position: 50% 50%;
}

.u-section-3-5 .u-container-layout-3 {
    padding: 30px;
}

@media (max-width: 1199px) {
    .u-section-3-3 {
        min-height: 586px;
    }

    .u-section-3-3 .u-group-1 {
        width: calc(((100% - 940px) / 2) + 428px);
        min-height: 420px;
    }

    .u-section-3-3 .u-layout-wrap-1 {
        width: 885px;
        margin-top: -360px;
        margin-left: calc(((100% - 940px) / 2));
    }

    .u-section-3-3 .u-layout-cell-1 {
        min-height: 466px;
    }

    .u-section-3-3 .u-text-1 {
        font-size: 2.2rem;
    }

    .u-section-3-3 .u-image-1 {
        min-height: 466px;
    }

    .u-section-3-4 {
        min-height: 586px;
    }

    .u-section-3-4 .u-group-1 {
        width: calc(((100% - 940px) / 2) + 428px);
        min-height: 420px;
    }

    .u-section-3-4 .u-layout-wrap-1 {
        width: 885px;
        margin-top: -360px;
        margin-left: calc(((100% - 940px) / 2));
    }

    .u-section-3-4 .u-layout-cell-1 {
        min-height: 466px;
    }

    .u-section-3-4 .u-text-1 {
        font-size: 2.2rem;
    }

    .u-section-3-4 .u-image-1 {
        min-height: 466px;
    }

    .u-section-3-5 {
        min-height: 586px;
    }

    .u-section-3-5 .u-group-1 {
        width: calc(((100% - 940px) / 2) + 428px);
        min-height: 420px;
    }

    .u-section-3-5 .u-layout-wrap-1 {
        width: 885px;
        margin-top: -360px;
        margin-left: calc(((100% - 940px) / 2));
    }

    .u-section-3-5 .u-layout-cell-1 {
        min-height: 466px;
    }

    .u-section-3-5 .u-text-1 {
        font-size: 2.2rem;
    }

    .u-section-3-5 .u-image-1 {
        min-height: 466px;
    }
}

@media (max-width: 991px) {
    .u-section-3-3 {
        min-height: 549px;
    }

    .u-section-3-3 .u-group-1 {
        width: 348px;
        min-height: 411px;
    }

    .u-section-3-3 .u-layout-wrap-1 {
        width: 684px;
        margin-top: -351px;
        margin-left: calc(((100% - 720px) / 2));
    }

    .u-section-3-3 .u-layout-cell-1 {
        min-height: 429px;
    }

    .u-section-3-3 .u-container-layout-2 {
        padding-right: 30px;
    }

    .u-section-3-3 .u-text-1 {
        font-size: 1.5rem;
    }

    .u-section-3-3 .u-text-2 {
        font-size: 1rem;
    }

    .u-section-3-3 .u-image-1 {
        min-height: 429px;
    }

    .u-section-3-4 {
        min-height: 549px;
    }

    .u-section-3-4 .u-group-1 {
        width: 348px;
        min-height: 411px;
    }

    .u-section-3-4 .u-layout-wrap-1 {
        width: 684px;
        margin-top: -351px;
        margin-left: calc(((100% - 720px) / 2));
    }

    .u-section-3-4 .u-layout-cell-1 {
        min-height: 429px;
    }

    .u-section-3-4 .u-container-layout-2 {
        padding-right: 30px;
    }

    .u-section-3-4 .u-text-1 {
        font-size: 1.5rem;
    }

    .u-section-3-4 .u-text-2 {
        font-size: 1rem;
    }

    .u-section-3-4 .u-image-1 {
        min-height: 429px;
    }

    .u-section-3-5 {
        min-height: 549px;
    }

    .u-section-3-5 .u-group-1 {
        width: 348px;
        min-height: 411px;
    }

    .u-section-3-5 .u-layout-wrap-1 {
        width: 684px;
        margin-top: -351px;
        margin-left: calc(((100% - 720px) / 2));
    }

    .u-section-3-5 .u-layout-cell-1 {
        min-height: 429px;
    }

    .u-section-3-5 .u-container-layout-2 {
        padding-right: 30px;
    }

    .u-section-3-5 .u-text-1 {
        font-size: 1.5rem;
    }

    .u-section-3-5 .u-text-2 {
        font-size: 1rem;
    }

    .u-section-3-5 .u-image-1 {
        min-height: 429px;
    }
}

@media (max-width: 767px) {
    .u-section-3-3 {
        min-height: 872px;
    }

    .u-section-3-3 .u-group-1 {
        width: 446px;
        min-height: 495px;
    }

    .u-section-3-3 .u-container-layout-1 {
        padding-left: 10px;
        padding-right: 10px;
    }

    .u-section-3-3 .u-layout-wrap-1 {
        width: 500px;
        margin-top: -435px;
        margin-left: calc(((100% - 540px) / 2));
    }

    .u-section-3-3 .u-layout-cell-1 {
        min-height: 100px;
        order: 1;
    }

    .u-section-3-3 .u-container-layout-2 {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .u-section-3-3 .u-text-1 {
        font-size: 1.2rem;
    }

    .u-section-3-3 .u-image-1 {
        min-height: 538px;
        order: 0;
    }

    .u-section-3-3 .u-container-layout-3 {
        padding-left: 10px;
        padding-right: 10px;
    }

    .u-section-3-4 {
        min-height: 872px;
    }

    .u-section-3-4 .u-group-1 {
        width: 446px;
        min-height: 495px;
    }

    .u-section-3-4 .u-container-layout-1 {
        padding-left: 10px;
        padding-right: 10px;
    }

    .u-section-3-4 .u-layout-wrap-1 {
        width: 500px;
        margin-top: -435px;
        margin-left: calc(((100% - 540px) / 2));
    }

    .u-section-3-4 .u-layout-cell-1 {
        min-height: 100px;
        order: 1;
    }

    .u-section-3-4 .u-container-layout-2 {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .u-section-3-4 .u-text-1 {
        font-size: 1.2rem;
    }

    .u-section-3-4 .u-image-1 {
        min-height: 538px;
        order: 0;
    }

    .u-section-3-4 .u-container-layout-3 {
        padding-left: 10px;
        padding-right: 10px;
    }

    .u-section-3-5 {
        min-height: 872px;
    }

    .u-section-3-5 .u-group-1 {
        width: 446px;
        min-height: 495px;
    }

    .u-section-3-5 .u-container-layout-1 {
        padding-left: 10px;
        padding-right: 10px;
    }

    .u-section-3-5 .u-layout-wrap-1 {
        width: 500px;
        margin-top: -435px;
        margin-left: calc(((100% - 540px) / 2));
    }

    .u-section-3-5 .u-layout-cell-1 {
        min-height: 100px;
        order: 1;
    }

    .u-section-3-5 .u-container-layout-2 {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .u-section-3-5 .u-text-1 {
        font-size: 1.2rem;
    }

    .u-section-3-5 .u-image-1 {
        min-height: 538px;
        order: 0;
    }

    .u-section-3-5 .u-container-layout-3 {
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media (max-width: 575px) {
    .u-section-3-3 {
        min-height: 500px;
    }

    .u-section-3-3 .u-group-1 {
        width: calc(((100% - 340px) / 2) + 290px);
        min-height: 250px;
    }

    .u-section-3-3 .u-layout-wrap-1 {
        width: 313px;
        margin-top: -230px;
        margin-left: calc(((100% - 340px) / 2));
    }

    .u-section-3-3 .u-layout-cell-1 {
        min-height: 120px;
    }

    .u-section-3-3 .u-container-layout-2 {
        padding: 30px 10px;
    }

    .u-section-3-3 .u-image-1 {
        min-height: 300px;
    }

    .u-section-3-4 {
        min-height: 500px;
    }

    .u-section-3-4 .u-group-1 {
        width: calc(((100% - 340px) / 2) + 290px);
        min-height: 250px;
    }

    .u-section-3-4 .u-layout-wrap-1 {
        width: 313px;
        margin-top: -230px;
        margin-left: calc(((100% - 340px) / 2));
    }

    .u-section-3-4 .u-layout-cell-1 {
        min-height: 120px;
    }

    .u-section-3-4 .u-container-layout-2 {
        padding: 30px 10px;
    }

    .u-section-3-4 .u-image-1 {
        min-height: 300px;
    }

    .u-section-3-5 {
        min-height: 500px;
    }

    .u-section-3-5 .u-group-1 {
        width: calc(((100% - 340px) / 2) + 290px);
        min-height: 250px;
    }

    .u-section-3-5 .u-layout-wrap-1 {
        width: 313px;
        margin-top: -230px;
        margin-left: calc(((100% - 340px) / 2));
    }

    .u-section-3-5 .u-layout-cell-1 {
        min-height: 120px;
    }

    .u-section-3-5 .u-container-layout-2 {
        padding: 30px 10px;
    }

    .u-section-3-5 .u-image-1 {
        min-height: 300px;
    }
}

@font-face {
    font-family: 'NotoSansTC-Regular';
    font-style: normal;
    font-weight: 400;
    src: url(fonts/NotoSansTC-Regular.otf);
}