* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    box-sizing: border-box;
}

.u-body {
    --theme-sheet-width-xl: 100% !important;
    margin: auto;
}

.pic img,
.banner-img img,
.card-img  img{
    width: 100%;
}

/* ==================================================== */

.banner {
    position: relative;
    background: #fcf6e7;
}

.banner-txt {
    position: absolute;
    display: block;
    top: 50%;
    left: 5%;
    transform: translate(-5%, -50%);
    z-index: 1;
}

.banner-txt h1 {
    margin-bottom: .6em;
    font-size: 3em;
    font-weight: 900;
}

.banner-img {
    z-index: 0;
    position: relative;
    right: -10%;
    width: calc(100% - 10%);
}

/* ===================================================== */
.container {
    background: #f9eed8;
}

.two-col {
    padding: 1em;
}

.two-col:nth-child(2) h3 {
    color: #970719;
}

.two-col h3 {
    margin: 1em 0 0.5em 0;
    color: #c55a11;
    position: relative;
    font-size: 1.6em;
}

.two-col p {
    text-align: justify;
    font-size: 1.3em;
}

.two-col h3::after {
    position: absolute;
    content: "";
    height: 2px;
    width: 95%;
    background: #c55a11;
    top: -.4em;
    left: 0;
}

.two-col h3::before {
    position: absolute;
    content: "";
    height: .65em;
    width: .65em;
    background: #c55a11;
    top: -.65em;
    right: 4%;
    border-radius: 50%;
}

.placement img {
    border-radius: 20px;
}

.concrete img {
    border-radius: 20px;
}

.completed img {
    border-radius: 20px;
}

.card-group{
    background: #F1E8D0;
    padding: 3em 0 0 0;
}
.card-group img{
    aspect-ratio: 4/3;
}
.card{
    margin-top: 0.5m;
   padding: 10px;
}
.card-txt{
    position: relative;
}
.card-txt h3{
    color: #C65A23;
}
.card-txt h3::after{
    content: "";
    width: 50%;
    position: absolute;
    top: 1.8em;
    left: 0;
    height: 1px;
    background: #C65A23;
}
.card-txt p{
    margin-top: 0.8em;
    font-weight: 700;
}










@media screen and (min-width:767px) {
    .two-col {
        display: flex;
        gap: 10px;
    }

    .two-col>div {
        width: 50%;
    }
    .two-col:nth-child(1),
    .two-col:nth-child(2) {
        width: 90%;
        margin: auto;
    }
    .two-col:nth-child(2n) {
        flex-direction: row-reverse;
    }

    /* ========================= */
    .two-col h3::after {
        left: -.5em;
    }

    .two-col:nth-child(2n) h3::after {
        top: -0.5em;
        left: .5em;
        width: 100%;
    }

    .two-col:nth-child(2n) h3::before {
        top: -0.78em;
        left: 0;
    }

    .two-col h3 {
        font-size: 1.5em;
    }

    .two-col p {
        margin-top: .5em;
        font-size: 1.2em;
    }

    /* =========================== */

    .card-group{
        display: flex;
        flex-wrap: wrap;
    }
    .card{
        width: 50%;
    }









}

@media screen and (min-width:992px) {
    .two-col h3::after {
        width: 30%;
        top: -.4em;
        left: 0;

    }

    .placement h3::after {
        width: 98%;
    }

    .two-col h3::before {
        top: -.65em;
        right: 70%;
        border-radius: 50%;
    }

    .placement h3::before {
        right: 4%;
    }

    /* ========================= */
    .two-col h3::after {
        left: -.5em;
    }

    .two-col:nth-child(2n) h3::after {
        top: 32%;
        left: 61%;
        width: 40%;
    }

    .two-col:nth-child(2n) h3::before {
        top: 17%;
        left: 61%;  
    }

    .two-col:nth-last-child(-n+2) h3::after {
        top: 1.5em;
        left: 0;
        width: 60%;
    }

    .two-col:nth-last-child(-n+2) h3::before {
        display: none;
    }

    .two-col p {
        margin-top: .5em;
    }

    /* =========================== */

    .Carbon{
        width: 30%;
    }



    .placement {
        width: 65%;
    }

    .placement img {
        border-radius: 20px;
    }

    .concrete {
        width: 70%;
        margin-left: auto;
        gap: 2em;
    }

    .concrete .txt p {
        margin-top: 1.5em;
    }

    .concrete img {
        position: relative;
        top: -18%;
        border-radius: 20px;
    }

    .completed {
        width: 80%;
        margin-top: -3em;
    }

    .completed .txt {
        margin-top: -3em;
    }
    .completed .txt p {
        margin-top: 1.5em;
    }
    .completed img {
        border-radius: 20px;
        position: relative;
        top: -22%;
    }

    .card-group{
        justify-content: space-around;
    }
    .card-group .card:nth-child(2n){
        display: flex;
        flex-direction: column-reverse;
    }
    .card{
        width: 20%;
    }
    
    .card-txt{
        position: relative;
        padding-bottom: 15em;
    }
    .card-txt h3{
        color: #C65A23;
        writing-mode: vertical-lr ;
        border-left: 2px solid ;
        padding-left: 5px;
        position: absolute;
        top: 4%;

    }
    .card-group .card:nth-child(2n) .card-txt h3{
        top: 7%;

    }
    .card-txt h3::after{
        display: none;
    }
    .card-txt p{
        writing-mode: vertical-lr ;
        height: 9em;
        position: absolute;
        left: 20%;
        letter-spacing: .5em;
        font-size: 1.2em;
        text-align: left;
    }
}