* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}
.u-clearfix.u-sheet{
    width:100%!important
}
.u-align-left.u-container-style.u-layout-cell.u-size-15.u-size-30-md.u-layout-cell-1 {
    padding-left: 1.2em;
}

footer {
    margin-top: 0 !important;
}

.u-body {
    --theme-sheet-width-xl: 100% !important;
    --theme-sheet-width-xl: 100% !important;
    --theme-sheet-width-lg: 100% !important;
    --theme-sheet-width-md: 100% !important;
    --theme-sheet-width-sm: 100% !important;
    --theme-sheet-width-ms: 100% !important;
    --theme-sheet-width-xs: 100% !important;
    margin: auto;
}

body {
    background: #E2F0D9 !important;
}

.banner-img img,
.container img {
    width: 100%;
}

h3 {
    font-size: 1.25rem;
    color: #283F19;
    position: relative;
}

.container p,
.container ul {
    margin-left: 1.2em;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

.container ul {
    margin-bottom: 4em !important;
}
.bg{
    background: #C5E0B4;
}
.bg img{
    width: 100%;
}
/* ------------------------------ */
.banner {
    margin-top: 6em;
    position: relative;
}

.banner-txt h1 {
    position: absolute;
    font-size: 6.5vw;
    color: #283F19;
    z-index: 3;
    left: 10%;
}
.banner-green{
    display: none;
}
.container{
    padding: 20px 15px 0px 15px
}
.bg{
    padding: 0px 15px 40px 15px;
}
.container .title,
.bg .title {
    margin-top: 0.5em;
    margin-left: .4em;
}

.container .title::before,
.bg .title::before{
    content: '';
    position: absolute;
    width: 5px;
    height: 1.5em;
    background: #000;
    left: -12px;
    top: -2px;
}

.container p {
    margin-top: 0.5em;
}

.list {
    margin-top: 0.5em;
    text-indent: -5px;
    padding-left: 15px;
}

.list li::before {
    width: 7px;
    content: '-';
    color: green;
    display: inline-block;
}

.container img {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 4em auto 0 auto;
}

.bg a {
    display: inline-block;
    text-decoration: none;
    padding: 5px 7px;
    border: 4px #283F19 solid;
    color: #000;
    background: #fff;
    margin-top: 1.2em;
    margin-left: 1.5em;
}

.bg a:hover {
    background: green;
    color: #fff;
}

@media screen and (min-width:768px) {
    .container h3,
    .bg h3 {
        font-size: 1.8em;
    }

    .container p {
        font-size: 1.5em;
    }

    .container li {
        font-size: 1.5em;
    }

    .container a,
    .bg a {
        font-size: 1.5em;
    }

    .container img {
        width: 80%;
    }
}

@media screen and (min-width:1024px) {
    .container,
    .bg{
        padding: 20px 30px 40px 30px;
    }
    .container h3 ,
    .bg h3{
        font-size: 2.0em;
    }

    .container p {
        font-size: 1.6em;
    }

    .container li {
        font-size: 1.6em;
    }

    .container a ,
    .bg a{
        font-size: 1.6em;
    }

    .container img {
        width: 50%;
    }
    .banner{
        display: flex;
        flex-direction: column;
    }
    .banner-green{
        display: block;
        position: absolute;
        z-index: 1;
        bottom: -25%;
        align-self: center !important;
        
    }
    .banner-img{
        width: 65%;
        align-self: flex-end;
        padding-bottom: 3em;
    }
    .banner-img img{
        border-bottom-left-radius: 97px;
        z-index: 2;
        position: relative;
    }
}