* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    box-sizing: border-box;
}

.u-align-left.u-container-style.u-layout-cell.u-size-15.u-size-30-md.u-layout-cell-1 {
    padding-left: 1.2em;
}

footer {
    margin-top: 0 !important;
}

.u-body {
    --theme-sheet-width-xl: 100% !important;
    --theme-sheet-width-xl: 100% !important;
    --theme-sheet-width-lg: 100% !important;
    --theme-sheet-width-md: 100% !important;
    --theme-sheet-width-sm: 100% !important;
    --theme-sheet-width-ms: 100% !important;
    --theme-sheet-width-xs: 100% !important;
    margin: auto;
}
body{
    background: #E2F0D9;
}
img{
    width: 100%;
}

/* ------------------------------ */
