* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}

.u-align-left.u-container-style.u-layout-cell.u-size-15.u-size-30-md.u-layout-cell-1 {
    padding-left: 1.2em;
}

footer {
    margin-top: 0 !important;
}
html{
    width: 100%;
    overflow-x: hidden;
}
.u-body {
    --theme-sheet-width-xl: 100% !important;
    --theme-sheet-width-lg: 80% !important;
    --theme-sheet-width-md: 80% !important;
    --theme-sheet-width-sm: 80% !important;
    --theme-sheet-width-ms: 80% !important;
    --theme-sheet-width-xs: 80% !important;
    margin: auto;
}
img{
    width: 100%;
}
.banner-sec, .goal , .knowledge{
   background: #DAE3F3;
}

h3{
    color: #203864;
}
/* ========================================== */

.banner-sec {
    position: relative;
    padding-bottom: 12em;
    margin-top: 6em;
}
.banner-sec .banner-txt{
    font-size: 6.5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 3;
    position: relative;
}
.banner-txt h3{
    margin-top: 3em;
    font-size: 1.1em;
}
.banner-txt b{
    font-size: 1.5em;
}

.banner-img img{
    width: 60%;
}
img[alt="pic1"] {
    position: absolute;
    left: -31%;
    top: 34%;
    transform: rotateZ(-1deg);
}
img[alt="pic2"] {
    position: absolute;
    width: 100%;
    top: 4em;

}
img[alt="pic3"] {
    position: absolute;
    top: 2em;
    left: 74%;
    transform: rotateZ(-54deg);

}
/* ------------------------------------------ */
.goal,
.knowledge{
    padding: 20px;
}
.goal h3,
.knowledge h3
{
    font-size: 1.5em;
    position: relative;
}

.goal h3::before,
.knowledge h3::before
{
    content: '';
    position: absolute;
    width: 5px;
    height: 1.5em;
    background: #000;
    left: -12px;
    top: -2px;
}

.goal p{
    padding: 15px 10px;
    z-index: 3;
    position: relative;
}
.knowledge {
    padding-top: 2em;
    
}

.knowledge img {
    padding-top: 1.5em;
    width: 100%;
}

.list {
    margin-top: 0.5em;
    text-indent: -5px;
    padding-left: 15px;
    z-index: 3;
    position: relative;
}

.list li::before {
    width: 7px;
    content: '-';
    color: green;
    display: inline-block;
}
.list.car {
    margin-top: 0.5em;
    text-indent: -10px;
    padding-left: 15px;
    z-index: 3;
    position: relative;
}
.list.car li::before {

    content: '';
    width: 7px;
    color: green;
    display: inline-block;
}

@media screen and (min-width:768px){
    .banner-txt h3{
        margin-top: 2em;
        font-size: 1.1em;
    }   
}
@media screen and (min-width:992px) {

    .goal h3,
    .knowledge h3,
    .code h3 {
        font-size: 1.8em;
        position: relative;
    }

    .goal p,
    .knowledge p,
    .code p {
        font-size: 1.3em;
    }


    .goal{
        padding-top: 10%;
        padding-bottom: 4%;
    }
    .list{
        font-size: 1.3em;
        margin-left: 3em;
    }
    
   
}
@media screen and (min-width:1200px){
    .goal h3,
    .knowledge h3,
    .code h3 {
        font-size: 2em;
        position: relative;
    }

    .goal p,
    .knowledge p,
    .code p {
        font-size: 1.6em;
    }

    .knowledge img{
        display: flex;
        width: 60%;
        margin: auto;
    }
    .list{
        display: inline-block;
        font-size: 1.6em;
        margin-top: 3em;
        margin-left: 6em;
    }

}